@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}
